/* MAIN CONTAINER */
.db-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-primary);
}

/* SEARCH BAR */
.db-search {
  width: 100%;
  padding: 14px;
  border-radius: var(--radius-lg);
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: var(--text-primary);
  font-size: 15px;
  outline: none;
}

.db-search::placeholder {
  color: rgb(247, 246, 246);
}

/* FILTER ROW */
.db-filters {
  display: flex;
  gap: 12px;
}

.db-filters select {
  flex: 1;
  padding: 12px;
  border-radius: var(--radius-md);
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: var(--text-primary);
  font-size: 14px;
  outline: none;
}

/* GRID */
.db-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
}

/* CARD */
.db-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: var(--radius-md);
  text-align: center;
  transition: 0.25s ease;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.db-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.db-card h4 {
  font-size: 15px;
  font-weight: 600;
}

.db-card p {
  font-size: 12px;
  opacity: 0.7;
}

.db-card:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.18);
}
.db-sort {
  margin: 12px 0;
}

.db-sort select {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: var(--radius-md);
  color: var(--text-primary);
  cursor: pointer;
}
