/* RESET & GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* hanya .app-content yg boleh scroll */
  background: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);

  display: block !important; /* mencegah flex center bawaan Vite */
}

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* PALET WARNA */
:root {
  --bg-dark: #2D2327;
  --bg-deep: #45364B;
  --color-plum: #62466B;
  --color-muted-purple: #8C93A8;
  --color-soft-mint: #B5C2B7;

  --text-primary: #ffffff;
  --accent-purple: #8C93A8;

  --radius-md: 10px;
  --radius-lg: 18px;
}

/* SCROLLBAR GLOBAL (matikan track halaman) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* HILANGKAN scrollbar halaman */
}
